* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
  width: 100%;
}

#game {
  background: rgba(0, 0, 0,0.6);
  margin: .4rem;
  color: #fff;
  border-radius: 2rem;
  border: .3rem solid #c4c43a;
}

body {
  margin: 0;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0.5rem;
  background-color: #1a0d0f;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Sixtyfour Convergence", sans-serif;
}

section {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

.healthbar {
  width: 100%;
  height: 40px;
  border: 1px solid #575757;
  margin: 1rem 0;
  background: #fde5e5;
}

.healthbar__value {
  background-color: #00a876;
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;
  padding: 0.5rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
}

#monster h2,
#player h2 {
  margin: 0.25rem;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  font: inherit;
  border: 1px solid #eb15b6;
  background-color: #eb15b6;
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: .7rem;
  width: 12rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #af0a78;
  border-color: #af0a78;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  box-shadow: none;
  color: #3f3f3f;
  cursor: not-allowed;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

#log li {
  margin: 0.3rem 0;
}

.log--player {
  color: #7700ff;
}

.log--monster {
  color: #da8d00;
}

.log--damage {
  color: red;
}

.log--heal {
  color: green;
}

.alert {
  background-color: #cfe8d3;
  color: #2c783a;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1rem;
  border: 1px solid #2c783a;
  text-align: center;
  padding: 0.5rem;
  margin: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
}

.restart {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

#log {
  background-color: #fff;
  color: #000;
  background-image: url('/assets/images/blood-splatter.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}